body{
    background-color: #490A3D;
    color: #444444;
}

.mainnav{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.title{
    height: 16vh;
    line-height: 10vh;
    padding: 3vh 0vh 3vh 0vh;
    margin: 0 0 0 0;
    background-color: #490A3D;
    text-align: center;
    color: #BD1550;
    font-size: 32px;
}

.Nav{
    text-decoration: none;
    color: #444444;
    font-size: 10vh;
    text-align: center;
}
a:hover{
    text-decoration: none; !important
}

.hbar{
    height: .5vh;
    width: 13vh;
    background-color: #444444;
    margin: 0vh 0vh 1vh 0vh;
}

.spacer{
    height: 10vh;
}

.mainconent{
    padding: 10vh 0vh 10vh 0vh;
    margin: 0 0 0 0;
}

.home-nav{
    height: 16vh;
    line-height: 10vh;
    padding: 3vh 0vh 3vh 0vh;
    margin: 0 0 0 0;
    background-color: #BD1550;
}

.home{
    background-color: #BD1550;
    height: 80vh;
    margin: 10vh 0vh 10vh 0vh;
    padding: 0 0 0 0;
    overflow: scroll;
}

.homecontent{
    width: 100vh;
    margin: 8vh 5vh 8vh 5vh;
    overflow: scroll;
}

.about-nav{
    height: 16vh;
    line-height: 10vh;
    padding: 3vh 0vh 3vh 0vh;
    margin: 0 0 0 0;
    background-color: #E97F02;
}

.about{
    background-color: #E97F02;
    height: 80vh;
    margin: 10vh 0vh 10vh 0vh;
    padding: 0 0 0 0;
}

.aboutcontent{
    margin: 8vh 5vh 8vh 5vh;
}

.projects-nav{
    height: 16vh;
    line-height: 10vh;
    padding: 3vh 0vh 3vh 0vh;
    margin: 0 0 0 0;
    background-color: #F8CA00;
}

.projects{
    background-color: #F8CA00;
    height: 80vh;
    margin: 10vh 0vh 10vh 0vh;
    padding: 0 0 0 0;
}

.projectscontent{
    margin: 8vh 5vh 8vh 5vh;
}

.cv-nav{
    height: 16vh;
    line-height: 10vh;
    padding: 3vh 0vh 3vh 0vh;
    margin: 0 0 0 0;
    background-color: #8A9B0F;
    box-shadow: 12px 20px 6px rgba(0, 0, 0, 0.19);
}

.cv{
    background-color: #8A9B0F;
    height: 80vh;
    margin: 10vh 0vh 10vh 0vh;
    padding: 0 0 0 0;
    box-shadow: 12px 20px 6px rgba(0, 0, 0, 0.19);
}

.cvcontent{
    margin: 8vh 5vh 8vh 5vh;
}
